<div class="burger-header">
    <img src="assets/img/burger.png" alt="burger" style="width: 150px; height: 150px;">
    <h1>Eat-Da-Burger!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 form-group">
            <form class="create-form">
                <input type="text" name="burger_name" class="form-control" id="bu" value=""
                    placeholder="Enter a burger you want to eat and Click the 'Add Burger' button">
                <button type="submit" class="btn btn-danger" style="width: 300px; margin-bottom: 30px;">Add
                    Burger</button>
            </form>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <div class="row">
            {{#each burgers}}
            {{#unless this.devoured}}
            <div class="not-devoured-burger col-md-7">
                {{this.burger_name}}
            </div>
            <div class="wrapper col-md-5 text-center">
                <form class="devour-form">
                    <input input type="hidden" class="burger_id" type="text" value={{this.id}}>
                    <button type="submit" class="btn btn-success">Devour it!</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    {{!-- Burgers that have been devoured --}}
    <div class="col-md-6 text-left">
        <div class="row">
            {{#each burgers}}
            {{#if this.devoured}}
            <div class="wrapper col-md-5 text-center">
                <form class="make-again-form">
                    <button type="submit" class="btn btn-success" data-id="{{this.id}}"
                        data-newdevoured={{this.devoured}}>Make Again!</button>
                    <div class="devoured-burger col-md-7">
                        {{this.burger_name}}
                    </div>
                </form>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>